@charset "UTF-8";

:root {
    --cor1: #592202;
    --cor2: #292929;
    --cor3: #FF7000;
    --cor4: #FF8500;
    --cor5: #FF9B00;

    /*--cor1: #949494;
    --cor2: #292929;
    --cor3: #FF7000;
    --cor4: #FF8500;
    --cor5: #FF9B00;*/

}